@import './fonts/material-design-iconic-font/css/material-design-iconic-font.min.css';
@import './fonts/icofont/icofont.min.css';
@import './fonts/material-icons/font.css';
@import './global.css';



// variables
$sidebarWidth: 350px;

html,
body {
    font-family: "Roboto", sans-serif !important;
}

.header-section {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: var(--ice-white);
    border-bottom: 1px solid var(--border-color);
    height: 48px;
    padding: 0px 10px;

    .header-icon {
        position: relative;
        color: var(--blue);
        height: 35px;
        text-align: center;
        display: flex;
        width: 35px;
        border-radius: 50%;
        background-color: var(--bluish-white);
        align-items: center;
        justify-content: center;
        line-height: 35px;

        .header-circle-icon {
            height: 12px;
            width: 12px;
            position: absolute;
            background-color: #ff6600;
            border: 2px solid #ffffff;
            border-radius: 50%;
            top: 0;
            left: 25px;
        }

        .font-20 {
            font-size: 20px;
        }
    }

    .header-icon[aria-expanded='true'] {
        background-color: var(--blue);
        color: #ffffff;
    }

    .hamburger-menu-section {
        margin: 0 auto;
        width: 50px;

        .hamburger {
            width: 35px;
            background: var(--bluish-white);
            height: 35px;
            border-radius: 50%;
            display: flex;
            font-size: 27px;
            color: var(--blue);
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }
    }

    .logo-section {
        max-width: 230px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .group-logo {
            height: 30px;
        }
    }

    .group-name-section {
        display: inline-block;
        vertical-align: middle;

        .group-name {
            font-size: 22px;
            color: var(--blue);
            font-weight: 500;
            margin: 0;
            display: inline-block;
            letter-spacing: -1px;
            line-height: normal;
        }
    }

    .group-selection-dropdown-section {
        display: inline-block;
        vertical-align: middle;

        .group-icon {
            transform: rotate(90deg);
            transition: 0.1s;

            &.header-icon[aria-expanded='true'] {
                transform: rotate(180deg) !important;
            }
        }

        .group-list-section {
            width: 350px;
            padding: 0;
            border: none;
            box-shadow: 0 0px 5px 0px rgb(2 108 209 / 16%);
            top: 25px !important;
            left: -78px !important;
            background: #ffffff;
            border-radius: 0;

            .group-list {
                max-height: 475px;
                overflow-y: auto;

                .group-list-header {
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 2px solid var(--bluish-white);
                    color: var(--blue);
                    font-size: 16px;
                }

                .company-list {
                    margin: 0;
                    list-style: none;
                    padding: 0;

                    .company-single-item {
                        padding: 12px 10px;
                        border-bottom: 1px solid #ddd;

                        &:hover {
                            background: var(--bluish-white);
                        }

                        .company-name {
                            color: var(--blue);
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                }

                .group-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;

                    .link {
                        text-transform: uppercase;
                        color: black;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .profile-section {
        cursor: pointer;
        position: relative;

        .profile-img-section {
            display: inline-block;
            margin-right: 10px;
            border: 2px solid var(--bluish-white);
            border-radius: 50%;

            .user-icon {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                vertical-align: bottom;
                object-fit: cover;
            }
        }

        .profile-desc-section {
            display: inline-block;
            text-align: left;
            vertical-align: bottom;

            .profile-name {
                margin: 0;
                font-size: 14px;
                color: var(--blue);
                font-weight: 500;
                margin-bottom: 2px;
                display: inline-block;
            }

            .profile-arrow {
                width: auto;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                color: var(--blue);
                margin-left: 8px;

                span {
                    font-size: 20px;
                    transition: 0.5s;
                }
            }

            .profile-designation {
                margin: 0;
                font-size: 12px;
            }
        }

        .profile-desc-section[aria-expanded='true'] {
            .profile-arrow {
                span {
                    transform: rotate(180deg);
                }
            }
        }

        .profile-dropdown {
            width: 280px;
            top: 5px !important;
            border-radius: 4px;
            background: #ffffff;

            .profile-dropdown-inner {
                .profile-item {
                    margin: 0;
                    padding: 0;

                    .profile-dropdown-item {
                        &.profile-dropdown-border {
                            border-bottom: 1px solid var(--bluish-white);
                        }

                        &.name-section {
                            .dropdown-item-title {
                                color: black;
                            }
                        }

                        padding: 10px;

                        .dropdown-item-icon {
                            width: 30px;
                            height: 30px;
                            background: var(--bluish-white);
                            border-radius: 50%;
                            margin-right: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            margin-right: 8px;
                            color: var(--blue);

                            .material-icons {
                                font-size: 20px;
                            }

                            .profile-img {
                                width: 35px;
                                height: 35px;
                                object-fit: cover;
                            }
                        }

                        &:hover {
                            .dropdown-item-title {
                                color: var(--blue);
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidenavbar {
    width: 60px;
    background: var(--ice-white);
    z-index: 99;
    top: 48px;
    bottom: 28px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    transition: 0.5s;
    box-shadow: 0 0 3px 0 rgb(2 108 209 / 16%);
    scrollbar-width: none;

    .menu-section-inner {
        position: absolute;
        left: 0 !important;
        width: 60px;
        transition: 0.5s;
        transition: 0.5s;

        .search-section {
            margin-bottom: 10px;
            position: fixed;
            z-index: 99;
            background: #fff;
            width: 60px;
            transition: 0.5s;
            padding: 20px 10px 10px 10px;

            .form-group {
                margin: 0;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 100%;

                &.has-search {
                    .form-control {
                        padding-left: 2rem;
                        padding-right: 0.5rem;
                    }

                    .form-control-feedback {
                        position: absolute;
                        z-index: 2;
                        display: block;
                        width: 12px;
                        height: 12px;
                        text-align: center;
                        pointer-events: none;
                        color: var(--blue);
                        top: 9px;
                        left: 9px;
                        border: none;
                    }

                    input {
                        margin: 0;
                        border-bottom: none;
                        border: 1px solid #e7f2fc;
                        box-sizing: inherit;
                        font-size: 14px;
                        height: auto;
                        padding: 8px 0;
                        border-radius: 10px;
                        width: 38px;
                        transition: 0.5s !important;

                        &::placeholder {
                            opacity: 0;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        .dynamic-menu {
            margin: 70px 0 25px 0;
            padding-top: 15px;

            .primary-menu-section {
                padding: 0px 10px 20px 10px !important;

                .primary-menu-section-inner {
                    display: block;
                    width: 100%;
                    line-height: 0;
                    margin: 2px 0;
                    position: relative;

                    .primary-menu-icon-inner {
                        display: inline-block;

                        .primary-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 24px;
                            width: 24px;
                            color: #264667;
                        }
                    }

                    .right-arrow-icon {
                        height: 24px;
                        width: 24px;
                        transition: 0.5s;
                    }

                    .primary-menu-area-inner {
                        display: inline-block;
                        width: 100%;

                        .primary-menu-name-section {
                            line-height: 0;
                            cursor: pointer;
                            border-radius: 4px;
                            padding: 10px 8px;
                            display: flex;
                            align-items: center;

                            &:hover {
                                background: var(--bluish-white);

                                .primary-icon {
                                    color: var(--blue);
                                }

                                .primary-menu-name {
                                    color: var(--blue);
                                }
                            }

                            .primary-menu-name {
                                margin: 0;
                                font-size: 15px;
                                font-weight: 500;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-align: left;
                                color: #264667;
                                cursor: pointer;
                                margin-left: 15px;
                                line-height: 1;
                                text-transform: uppercase;
                                transition: 0.5s;
                                opacity: 0;
                                transform: scale(0);
                            }
                        }

                        .primary-menu-name-section[aria-expanded='true'] {
                            color: var(--blue) !important;

                            .primary-icon {
                                color: var(--blue);
                            }

                            .primary-menu-name {
                                color: var(--blue) !important;

                                .right-arrow-icon {
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        .secondary-menu-section {
                            transition: 0.5s;
                            opacity: 1;
                            margin-left: 30px;

                            &.collapse {
                                &:not(.show) {
                                    transition: 0.5s;
                                    display: none;
                                }
                            }

                            .secondary-menu-section-inner {
                                display: block;
                                width: 100%;
                                line-height: 0;
                                margin: 2px 0;
                                position: relative;

                                .secondary-menu-icon-inner {
                                    .secondary-icon {
                                        width: 24px;
                                        height: 24px;

                                        .shape {
                                            width: 16px;
                                            height: 8px;
                                            background: #264667;
                                            display: block;
                                            border-radius: 6px;
                                            cursor: pointer;
                                        }
                                    }
                                }

                                .secondary-menu-area-inner {
                                    display: inline-block;
                                    width: 100%;

                                    .secondary-menu-name-section {
                                        line-height: 0;
                                        cursor: pointer;
                                        padding: 10px 8px;
                                        border-radius: 4px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        &:hover {
                                            background: var(--bluish-white);
                                            color: var(--blue);
                                        }

                                        .secondary-menu-name {
                                            margin: 0;
                                            font-size: 14px;
                                            font-weight: 500;
                                            display: inline-block;
                                            width: 100%;
                                            white-space: nowrap;
                                            overflow: hidden !important;
                                            text-overflow: ellipsis;
                                            text-align: left;
                                            cursor: pointer;
                                            line-height: 1;
                                            position: relative;
                                            margin-left: 6px;
                                            color: #000;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }
                                    }

                                    .secondary-menu-name-section[aria-expanded='true'] {
                                        color: var(--blue) !important;

                                        .secondary-menu-name {
                                            color: var(--blue) !important;

                                            .right-arrow-icon {
                                                transform: rotate(90deg);
                                            }
                                        }

                                        .secondary-menu-icon-inner {
                                            .secondary-icon {
                                                .shape {
                                                    background: var(--blue);
                                                }
                                            }
                                        }
                                    }

                                    .tertiary-menu-section {
                                        margin-left: 30px;

                                        .tertiary-menu-section-inner {
                                            display: block;
                                            width: 100%;
                                            line-height: 0;
                                            margin: 2px 0;
                                            position: relative;

                                            .tertiary-menu-icon-inner {
                                                .tertiary-icon {
                                                    height: 24px;
                                                    width: 18px;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-start;
                                                    color: #264667;

                                                    .shape {
                                                        width: 16px;
                                                        height: 8px;
                                                        background: #264667;
                                                        display: block;
                                                        border-radius: 6px;
                                                        cursor: pointer;
                                                    }
                                                }
                                            }

                                            .tertiary-menu-area-inner {
                                                display: inline-block;
                                                width: 100%;

                                                .tertiary-menu-name-section {
                                                    line-height: 0;
                                                    cursor: pointer;
                                                    border-radius: 4px;
                                                    padding: 8px 8px;
                                                    display: flex;
                                                    align-items: center;

                                                    &:hover {
                                                        background: var(--bluish-white);
                                                        color: var(--blue);
                                                    }

                                                    .tertiary-menu-name {
                                                        margin: 0;
                                                        font-size: 14px;
                                                        font-weight: normal;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;
                                                        width: 100%;
                                                        white-space: nowrap;
                                                        overflow: hidden !important;
                                                        text-overflow: ellipsis;
                                                        text-align: left;
                                                        cursor: pointer;
                                                        line-height: 1;
                                                        position: relative;
                                                        margin-left: 5px;
                                                    }
                                                }

                                                .tertiary-menu-name-section[aria-expanded='true'] {
                                                    color: var(--blue) !important;

                                                    .tertiary-menu-name {
                                                        .right-arrow-icon {
                                                            transform: rotate(90deg);
                                                        }
                                                    }
                                                }

                                                .tertiary-poly-menu-section {
                                                    // display: block;
                                                    margin-left: 30px;

                                                    .tertiary-poly-menu-section-inner {
                                                        display: block;
                                                        width: 100%;
                                                        line-height: 0;
                                                        margin: 2px 0;
                                                        position: relative;

                                                        .tertiary-poly-menu-icon-inner {
                                                            .tertiary-poly-icon {
                                                                height: 24px;
                                                                width: 24px;
                                                                display: flex;
                                                                align-items: center;
                                                                justify-content: flex-start;

                                                                span.material-icons {
                                                                    font-size: 20px;
                                                                }
                                                            }
                                                        }

                                                        .tertiary-poly-menu-area-inner {
                                                            display: inline-block;
                                                            width: 100%;

                                                            .tertiary-poly-menu-name-section {
                                                                line-height: 0;
                                                                cursor: pointer;
                                                                border-radius: 4px;
                                                                padding: 6px 5px;

                                                                &:hover {
                                                                    background: var(--bluish-white);
                                                                    color: var(--blue);
                                                                }

                                                                .tertiary-poly-menu-name {
                                                                    margin: 0;
                                                                    font-size: 13px;
                                                                    font-weight: normal;
                                                                    display: inline-block;
                                                                    width: 100%;
                                                                    white-space: nowrap;
                                                                    overflow: hidden !important;
                                                                    text-overflow: ellipsis;
                                                                    text-align: left;
                                                                    cursor: pointer;
                                                                    line-height: 1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom-logo-section {
            position: fixed;
            bottom: 28px;
            width: 60px;
            background: #ffffff;
            z-index: 99;
            border-top: 1px solid #e7f2fc;
            font-size: 11px;
            transition: 0.5s;

            .app-info {
                display: block;
                position: absolute;
                height: 24px;
                width: 24px;
                color: #dedede;
            }

            .app-version {
                transition: 0.5s;
                opacity: 0;
                transform: scale(0);

                .app-name {
                    color: var(--blue);
                }
            }
        }
    }

    &.expanded {
        width: $sidebarWidth !important;
        transition: 0.5s !important;

        .menu-section-inner {
            width: $sidebarWidth !important;
            transition: 0.5s !important;

            .search-section {
                width: $sidebarWidth !important;
                transition: 0.5s !important;
                padding: 20px 10px 10px 10px !important;

                input {
                    width: 100% !important;
                    transition: 0.5s !important;
                    border-radius: 4px !important;

                    &::placeholder {
                        opacity: 1 !important;
                    }
                }
            }

            .primary-menu-section-inner {
                .primary-menu-name-section {
                    .primary-menu-name {
                        transition: 0.5s !important;
                        opacity: 1 !important;
                        transform: scale(1) !important;
                    }
                }
            }

            .bottom-logo-section {
                width: $sidebarWidth !important;

                .app-info {
                    display: none;
                }

                .app-version {
                    opacity: 1 !important;
                    transform: scale(1) !important;
                }
            }
        }
    }

    &:not(:hover) {
        .menu-section-inner {
            .primary-menu-section-inner {
                .secondary-menu-section {
                    opacity: 0;
                    transition: 0.5s !important;
                    display: none !important;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #168fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #004e98;
    }
}

.main-section {
    transition: margin-left 0.5s;
    margin-left: 60px;
    margin-top: 48px;
    margin-bottom: 28px;
    min-height: calc(100vh - (48px + 28px));
}

.footer-section {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    height: 28px;
    background-color: var(--blue);

    &.development {
        background-color: var(--red);
    }

    &.testing {
        background-color: var(--yellow);
    }

    &.production {
        background-color: var(--blue);
    }

    &.staging {
        background-color: var(--red);
    }
}


@media only screen and (max-width: 1000px) {
    .header-section {
        .logo-section {
            max-width: 180px;

            img {
                width: 100% !important;
            }
        }

        .group-name-section {
            p {
                &.group-name {
                    font-size: 18px;
                }
            }
        }

        .profile-section {
            .profile-img-section {
                margin-right: 10px;
            }

            .profile-desc-section {
                p {
                    &.profile-name {
                        font-size: 12px;
                    }

                    &.profile-designation {
                        font-size: 10px;
                    }
                }

                span {
                    &.profile-arrow {
                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .header-section {
        .profile-section {
            .profile-desc-section {
                p {
                    &.profile-name {
                        width: 140px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .header-section {
        .group-name-section {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .header-section {
        .logo-section {
            display: none;
        }
    }
}

.router-link-exact-active.active {
    color: var(--blue) !important;
}

.router-link-exact-active.active .secondary-menu-name {
    color: var(--blue) !important;
}

.text-22 {
    font-size: 22px !important;
}

.icon-size-24 {
    font-size: 24px !important;
}

body:has(.master-layout) {
    height: 100vh;
    overflow: hidden;
}

body:has(.report-layout.loading) {
    overflow: hidden;
}

@media print {
    body:has(.report-layout) {
        margin: 0;
    }
}

.layout-container {
    padding: 10px 0px !important;
}